.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
/build/
/coverage/
/android/.gradle/
/android/local.properties
/android/key.properties
/ios/Flutter/.last_build_id
*.iml
*.log
.idea/
.vscode/
.codex/
.tooling/
